<div class="container center-div">
    <div class="container border p-5">
        <h2 class="text-center my-2">Home</h2>
        <h3 class="text-center my-4">All Schedules</h3>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Day</th>
                    <th class="text-center">Start Time</th>
                    <th class="text-center">End Time</th>
                </tr>
            </thead>
            <tbody>
                {{#each allScheds}}
                    <tr>
                        <td class="text-center"><a href="/users/{{this.user_id}}">{{this.first_name}}</td></a>
                        <td class="text-center">{{this.day}}</td>
                        <td class="text-center">{{this.start_time}}</td>
                        <td class="text-center">{{this.end_time}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
    

