<div class="container center-div">
    <div class="container border p-5">
        <h2 class="text-center my-2">Home</h2>
        <h3 class="text-center my-4">All Schedules</h3>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center table-dark">Name</th>
                    <th class="text-center table-dark">Day</th>
                    <th class="text-center table-dark">Start Time</th>
                    <th class="text-center table-dark">End Time</th>
                </tr>
            </thead>
            <tbody>
                {{#each allScheds}}
                    <tr>
                        <td class="text-center table-light"><a href="/users/{{this.user_id}}">{{this.first_name}}</td></a>
                        <td class="text-center table-light">{{this.day}}</td>
                        <td class="text-center table-light">{{this.start_time}}</td>
                        <td class="text-center table-light">{{this.end_time}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
    

